<section id="sobre-nosotros">
    <h2>About Us</h2>
    <div class="menu-interno"><a href="#quienessomos"> Who we are </a>/<a href="#independencia"> Political independence </a>/<a href="#areas"> Our areas of work</a></div>
    <p>The mission of Ciudadano Inteligente is to strengthen democracy and reduce inequality in Latin America, promoting transparency and citizen participation through through the innovative use of informational technologies.</p>
    <p>We work with the vision of transferring power from from the few to the many, every time the political and economic power concentrates itself in an artificial way. To do this we make use of transparency, informational techologies and collective participation as instruments of change.</p>
    <div id="quienessomos"></div>
    <h3>Who we are</h3>
    <p class="h4 destacado">We are a secular and nonpartisan organization that respects and defends political, cultural, social, religious and sexual diversity. We look to contribute to a fair and inclusive society, where we all as citizens possess the same rights and opportunities.</p>
    <div class="row">
        <div class="col-md-4"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-equipo">The team</button></div>
        <div class="col-md-4"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-directorio">The directory</button></div>
        <div class="col-md-4"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-hanparticipado">Participants</button></div>
    </div>
    <div class="modal fade modal-equipo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">The Team</h4>
                </div>
                <div class="modal-body">
                    {% include staff.html %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-directorio" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Directory</h4>
                </div>
                <div class="modal-body">
                    {% include staff-board.html %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-hanparticipado" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Participants</h4>
                </div>
                <div class="modal-body">
                    {% include have-participated.html %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="independencia"></div>
    <h3>Political independence</h3>
    <p>The members of Ciudadano Inteligente aren't apolitical, but just the contrary: we consider good policy to be a essential tool of social transformation, and as such, we intend to generate the appropriate incentives to ensure that policy works well, hoping that those who hold positions of popular representation have a duty to their citizens, and not to other particular interests.</p>
    <p>The members of Ciudadano Inteligente are all of diverse political leanings; however, as an organization we do not affiliate with any political party or movement. In order to assure our complete independence, Ciudadano Inteligente does not receieve financing from the government, from political parties, nor any trade organization that has political interests. Also, by means of a rigorous process, we assure that all of our research and reports depend on transparent and solid methodologies, open to scruitiny of any person who wants to inquire. The political loyalty of Ciudadano Inteligente is held in the citizenship, in the care and in the deepening of democracy as a system of government.</p>
    <div id="areas">
        <h3>Our areas</h3>
        <div class="row">
            <div class="col-md-10 col-md-offset-2"><h4>Lab</h4></div>
        </div>
        <div class="row">
            <div class="col-md-2 hidden-xs"><img src="img/ico-lab.svg"></div>
            <div class="col-md-10">We develop web technology in order to ensure transparency, to oversee and to make ourselves informed citizens that participate in the the decisions that affect us. In our digital workshop, we develop technology of and for the citizens. We innovate in the the development of open source web applications, intended to promote transparency and civic participation in Latin America. <a href="http://blog.ciudadanointeligente.org/tagged/lab" target="_blank">View the reports</a></div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-2"><h4>Advocacy</h4></div>
        </div>
        <div class="row">
            <div class="col-md-2 hidden-xs"><img src="img/ico-incidencia.svg"></div>
            <div class="col-md-10">We work to promote and influence policies of transparency; strengthen and expand the right of access to public information; to encourage and strengthen citizen participation; and increase a larger and better accountability of governments across Latin America. <a href="http://blog.ciudadanointeligente.org/tagged/incidencia" target="_blank">View the reports</a></div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-2"><h4>Community and networks</h4></div>
        </div>
        <div class="row">
            <div class="col-md-2 hidden-xs"><img src="img/ico-redes.svg"></div>
            <div class="col-md-10">We understand that we are apart of a social fabric, and by the same we connect citizens, NGOs and hackers to look for technological solutions to political problems. Our work is collective. Ciudadano Inteligente promotes the development of communities and networks between civil society, volunteers, civic hackers, the public sector and all organizations that share the vision of deepening democracy  with transparency, participation and technology. <a href="http://blog.ciudadanointeligente.org/tagged/comunidad" target="_blank">View the reports</a></div>
        </div>
    </div>
</section>
