<section id="transparencia">
    <h2>Transparency</h2>
    <div class="menu-interno"><a href="#estatutos" target="_blank"> Rules </a>/<a href="#desclasificacion"> Declassification </a>/<a href="#financiamiento"> Financing</a></div>
    <div id="estatutos"></div>
    <h3>These are the rules under which we operate</h3>
    <div class="h4">Descarga<a href="https://ckannet-storage.commondatastorage.googleapis.com/2014-09-01T19:12:41.019Z/estatutos-fundacion-ciudadano-inteligente.pdf" target="_blank"> our rules <i class="fa fa-download"></i></a></div>
    <div class="row rules">
        <div class="col-md-2 hidden-xs"><img src="img/ico-corazon.svg"></div>
        <div class="col-md-10"><div class="h4">The Foundation is a place where whatever type of discrimination for political, religion, gender, sexual, etc. motives are excluded. We defend the right to be different.</div></div>
    </div>
    <div class="row rules">
        <div class="col-md-2 hidden-xs"><img src="img/ico-idea.svg"></div>
        <div class="col-md-10"><div class="h4">The Foundation is a place of work that welcomes with open arms innovation, ideas, and dreams in order to change power relations from a few to many.</div></div>
    </div>
    <div id="desclasificacion"></div>
    <h3>Declassification of Fundación Ciudadano Inteligente</h3>
    <div class="h4">View our <a href="https://docs.google.com/a/votainteligente.cl/spreadsheets/d/1BRxiP9rUE_Iu_dbrvu7NHWwMSFo53wO7Z6g7meHBH4s/edit#gid=0" target="_blank">special interests management agenda</a></div>
    <p>Next FCI makes transparent situations or conditions that  situaciones o condiciones que a ojos de la ciudadanía pudieran comprometer el interés en el actuar de nuestra organización. We opt for transparency because we do not have anything to hide. Futher over of any interpretation of Más allá de cualquier interpretación de los hechos abajo señalados, el compromiso de Ciudadano Inteligente y su equipo está con el cumplimiento de nuestra misión, cual es, distribuir poder desde los pocos hacia los muchos por la vía de la transparencia y la participación ciudadana, usando como herramienta de cambio, las tecnologías de la información. The members of Ciudadano Inteligente have endorsed the compromise  compromiso de transparentar cualquier situación que pudiere comprometer el interés de nuestra Fundación, y abstenerse de participar en aquellas áreas que pudieran representar un conflicto de interés.</p>
    <p>If you want more information about Ciudadano Inteligente, write to info@ciudadanointeligente.org.</p>
    <div class="row">
        <div class="col-md-6 h4"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-desclasificacion-presente">Situations in the present</button></div>
        <div class="col-md-6 h4"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-desclasificacion-pasado">Situacions in the past</button></div>
    </div>
    <div class="modal fade modal-desclasificacion-presente" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Disclassification: situacions in the present</h4>
                </div>
                <div class="modal-body">
                    {% include transparency-current-declassification.html %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-desclasificacion-pasado" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Disclassification: situations in the past</h4>
                </div>
                <div class="modal-body">
                    {% include transparency-past-declassification.html %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="financiamiento"></div>
    {% include funding.html %}
</section>
