<section id="transparencia">
    <h2>Transparency</h2>
    <div class="menu-interno"><a href="#estatutos" target="_blank"> Our mission </a>/<a href="#desclasificacion"> Declassification </a>/<a href="#financiamiento"> Financing </a></div>
    <div id="estatutos"></div>
    <h3>These are the rules under which we operate</h3>
    <div class="h4">Download<a href="https://ckannet-storage.commondatastorage.googleapis.com/2014-09-01T19:12:41.019Z/estatutos-fundacion-ciudadano-inteligente.pdf" target="_blank"> our bylaws <i class="fa fa-download"></i></a></div>
    <div class="row rules">
        <div class="col-md-2 hidden-xs"><img src="/assets/img/ico-corazon.svg"></div>
        <div class="col-md-10"><div class="h4">The Foundation is a place where whatever type of discrimination for political, religion, gender, sexual, etc. motives are excluded. We defend the right to be different.</div></div>
    </div>
    <div class="row rules">
        <div class="col-md-2 hidden-xs"><img src="/assets/img/ico-idea.svg"></div>
        <div class="col-md-10"><div class="h4">The Foundation is a work place that welcomes with open arms innovation, ideas and dreams in order to change power relations from a few to many.</div></div>
    </div>
    <div id="desclasificacion"></div>
    <h3>Declassification of Fundación Ciudadano Inteligente</h3>
    <div class="h4">View our <a href="https://docs.google.com/a/votainteligente.cl/spreadsheets/d/1BRxiP9rUE_Iu_dbrvu7NHWwMSFo53wO7Z6g7meHBH4s/edit#gid=0" target="_blank">special interests management agenda</a></div>
    <p>Next FCI makes transparent situations or conditions that in the eyes of the citizen that could compromise the interest in the acting of our organization. We opt for transparency because we don't have anything to hide. Beyond any interpretation of the facts listed below, the commitment of Ciudadano Inteligente and its team is with the fulfillment of our mission, which is, distribute power from the few to tha many through transparency and citizen participation, using informational technology as a tool of change. The members of Ciudadano Inteligente have subscribed to endorse the transparency of any situation que that could compromise the interest of our Fundation, and will refrain from participating in areas that could represent a conflict of interest.</p>
    <p>If you want more information about Ciudadano Inteligente, write to info@ciudadanointeligente.org.</p>
    <div class="row">
        <div class="col-md-6 h4"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-desclasificacion-presente">Situation of current members</button></div>
        <div class="col-md-6 h4"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-desclasificacion-pasado">Situation of past members</button></div>
    </div>
    <div class="modal fade modal-desclasificacion-presente" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Disclassification: situacions in the present</h4>
                </div>
                <div class="modal-body">
                    {% include transparency-current-declassification.html %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-desclasificacion-pasado" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Disclassification: situations in the past</h4>
                </div>
                <div class="modal-body">
                    {% include transparency-past-declassification.html %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="financiamiento"></div>
    {% include funding.html %}
</section>
